body {
    margin:0;
    font-family: Monospace, Lucida Console;
    background-color: rgba(0, 0, 0, 0.9);
}


.character {

    height: 420px;
    background-image: url("/static/pictures/ai_img.png");
    background-position: center 60%;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.race-container {
    margin-bottom: 35px;
    display: flex;
    gap: 15px;
}

.ribbon {
    background-color: #222;
    color: rgba(255, 255, 255, 0.852);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}

.description {
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    font-size: 22px;
    line-height: 1.7;
}


.quiz-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.quiz {
    background-color: #004eca;
    color: white;
    font-size: 22px;
    padding: 14px 36px;
}