<!DOCTYPE html>
<html>
<head>
    <title>Skyrim Race Chooser</title>
</head>
<body>

<h1>Choose Your Race</h1>

<a href="/race/nord"><button>Nord</button></a>
<a href="/race/khajiit"></a><button>Khajiit</button></a>
<a href="/race/argonian"></a><button>Argonian</button></a>
<a href="/race/breton"></a><button>Breton</button></a>
<a href="/race/high elf"></a><button>High Elf</button></a>
<a href="/race/dark elf"></a><button>Dark Elf</button></a>
<a href="/race/wood elf"></a><button>Wood Elf</button></a>
<a href="/race/imperial"></a><button>Imperial</button></a>
<a href="/race/orc"></a><button>Orc</button></a>
<a href="/race/redguard"></a><button>Redguard</button></a>

</body>
</html>